/* COLORS
	#A2AFBF
	#717579
	#FFF
	#000
*/

* 
{
  box-sizing: border-box; 
}

html
{
	transition:all 1s;
}

body 
{
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #FFF; 
  background-color: #A2AFBF;
}
 
input, textarea
{
	color:#000;
}
 
.logo img 
{
    width: 210px;
} 
 
.navigation
{
	position:relative;
    background-color: #A2AFBF;
}

.navlist 
{
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.navlist a 
{
    padding: 10px;
	color:#FFF;
}

a 
{
  color: #1e6bb8;
  text-decoration: none; 
}

#current
{
	color:#A2AFBF;
	background-color:rgba(255, 255, 255, 0.5);
}


a:hover 
{
    text-decoration: underline; 
}

.btn
{
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(125, 125, 125, 0.9);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; 
}

.btn + .btn 
{
	margin-left: 1rem; 
}

.btn:hover 
{
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	background-color: rgba(125, 125, 125, 1);
	border-color: rgba(255, 255, 255, 0.3); 
}

.page-header 
{
	border:1px solid black;
	color: #fff;
    text-align: center;
    background-color: #A2AFBF;
	background: radial-gradient(ellipse at center, #A2AFBF 0%,#717579 100%);
}

.project-name 
{
	margin-top: 0;
	margin-bottom: 0.1rem; 
}

.project-tagline 
{
	margin-bottom: 2rem;
	font-weight: normal;
	opacity: 0.7; 
}

.main-content :first-child 
{
	margin-top: 0; 
}
.main-content img 
{
	max-width:100%; 
	max-height:300px;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 
{
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: normal;
	color: #FFF; 
}
.main-content p 
{
	margin-bottom: 1em; 
	/* text-align:center;*/
}
.main-content code 
{
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; 
}
.main-content pre 
{
	padding: 0.8rem;
	margin-top: 0;
	margin-bottom: 1rem;
	font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
	color: #567482;
	word-wrap: normal;
	background-color: #f3f6fa;
	border: solid 1px #dce6f0;
	border-radius: 0.3rem; 
}
.main-content pre > code 
{
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight 
{
  margin-bottom: 1rem; 
}
  .main-content .highlight pre 
{
    margin-bottom: 0;
    word-break: normal; 
}
.main-content .highlight pre, .main-content pre 
{
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; 
}
.main-content pre code, .main-content pre tt 
{
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; 
}
.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after 
{
    content: normal; 
}
.main-content ul, .main-content ol 
{
  margin-top: 0; 
}
.main-content blockquote 
{
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; 
}
  .main-content blockquote > :first-child 
  {
    margin-top: 0; 
  }
  .main-content blockquote > :last-child 
  {
    margin-bottom: 0; 
  }
.main-content table 
{
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; 
}
  .main-content table th 
{
    font-weight: bold; 
}
  .main-content table th, .main-content table td 
  {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; 
  }
.main-content dl 
{
  padding: 0; 
}
  .main-content dl dt 
  {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; 
  }
  .main-content dl dd 
  {
    padding: 0;
    margin-bottom: 1rem; 
  }
.main-content hr 
{
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}

.home-head
{
	max-width:960px;
	margin:0 auto;
	position:relative;
}

.home-name
{
	
	margin-top:7%;
	padding:0.25em 0.52em;
	font-weight:bold;
	font-size:2em;
	background:rgba(125, 125, 125, 0.9);
	display:inline-block;
	border-radius:0.3rem;
}

#home-buttons-holder
{
	width:100%;
	margin-top:5%;
}

#headSlide1
{
	background:url('../thermometer-temperature-fever-flu.jpg');
	background-size:cover;
	width:100%;
	max-width:960px;
	height:50vh;
	max-height:300px;
	overflow:hidden;
	margin:0 auto;
}

#headSlide1 img
{
	width:100%;
}

.home-content
{
	border:1px solid #CCC;
	width:31%;
	display:inline-block;
	background:#717579;
	text-align:center;
}

.home-patients
{
	margin:2%;
}

.sites-content
{
	border-bottom:2px solid #BC7412;
}

.sites-content img
{
	float:left;
	margin:0em 1em 1em 0em;
}

.sites-content p
{
	text-align:left;
}
.sites-content::after
{
	clear:both;
	height:0px;
	width:100%;
	content:'.';
	display:block;
	visibility:hidden;
}

/*--
	FOOTER
---*/

.site-footer 
{
  width:100%;
  padding-top: 2rem;
  padding-bottom:2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; 
  background:#717579;
 /* position: absolute;
  bottom: 0px;*/
}

.site-footer-wrapper
{
	max-width:64rem;
	margin:0 auto;
	position:relative;
	height:10em;
}

.site-footer-owner 
{
  display: block;
  font-weight: bold;
  text-align:center;
}

.site-footer-credits, .site-footer-credits a, .site-footer-credits a:visited
{
  color: #819198; 
  text-align:center;
}

.site-footer-navigation 
{
	display:block;
	text-align:center;
	margin-bottom:1em;

}

.site-footer-navigation-option a
{
	color:#9BC;
	padding:0.5em 1em;
	border-left:1px solid white;
}

.site-footer-navigation-option img
{
	width:25px;
	vertical-align:middle;
}

.footnav-first a
{
	border-left:none;
/*	border-right:1px solid white;*/
}

.footnav-last a
{
	border-right:none;
/*	border-left:1px solid white;*/
}

.site-footer-credits a:hover, .site-footer-credits a:visited
{
	text-decoration:line-through;
}

/*--------------
	SERVICES
--------------*/

.service-bullet
{
	text-indent:-0.75em;
}

/*.service-bullet:first-child
{
	font-family:Symbol;
}*/

/*--------------
	FAQ
--------------*/

#scroller
{
	position:fixed;
	right:0px;
	bottom:0px;
	padding:1em;
	border:2px solid black;
}

.faq-picture
{
	max-width:400px;
	height:auto;
}

.faq-question-holder
{
	margin-left:33em;
}

.faq-question-top
{
	margin-bottom:1em;
	display:block;
	/*text-align:right;*/
}

.faq-answer
{
	text-align:left;
}

.faq-question-bottom
{
	font-weight:bold;
	color:#FFF;
}

.faq-question-holder ul:last-child
{
	margin-bottom:5em;
}

.faq-picture
{
	float:left;
}

.formInput
{
	background:#EEF;
	border:none;
	color:#004;
}

/*--------------
	RESPONSE
--------------*/
@media screen and (min-width: 64em) 
{
  .btn 
  {
    padding: 0.75rem 1rem; 
  } 
  
  .navigation
  {
    max-width: 64rem;
	margin:0 auto;
  }
  
  .page-header 
  {
    /*padding: 5rem 6rem;*/ 
  }
  
  .project-name 
  {
    font-size: 3.25rem; 
  }
  
  .project-tagline 
  {
    font-size: 1.25rem; 
  }
  
  .main-content
  {
    max-width: 64rem;
    padding: 2rem 0rem;
    margin: 0 auto;
    font-size: 1.1rem; 
  } 
  
  .site-footer 
  {
    font-size: 1rem; 
  } 
}

@media screen and (min-width: 42em) and (max-width: 64em) 
{
  .btn 
  {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
  
  .navigation, .site-footer-wrapper
  {
    width:90%;
    margin:0 auto;
  }
  
  .page-header 
  {
    padding: 3rem 4rem; 
  }
  
  .project-name 
  {
    font-size: 2.25rem; 
  }
  
  .project-tagline 
  {
    font-size: 1.15rem; 
  }
  
  .main-content
  {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }
  
  .site-footer 
  {
    font-size: 1rem; 
  } 
}

@media screen and (max-width: 42em) 
{
	.btn 
	{
		display: block;
		width: 100%;
		padding: 0.75rem;
		font-size: 0.9rem; 
	}
	.btn + .btn 
	{
		margin-top: 1rem;
		margin-left: 0; 
	}
	
	.logo
	{
		text-align:center;
		margin-top:10px;
	}
	
	.navlist
	{
		position:relative;
		text-align:center;
		margin-top:1em;
	}
	
  .page-header 
  {
    padding: 2rem 1rem; 
  }
	
  .project-name 
  {
    font-size: 1.75rem; 
  }
  
  .project-tagline 
  {
    font-size: 1rem; 
  }
  
  .main-content 
  {
    padding:0;
    font-size: 1rem; 
  } 
  
  .home-content
  {
    width: 100%;
    display: block;
    margin: 1em 0em;
	padding: 2em 0em;
  }
  
  .home-patients
  {
    background: transparent;
    border: none;
  }
  
  .home-patients h3
  {
	  color:#717579;
  }
  
  .site-footer 
  {
    font-size: 0.9rem; 
  } 
  
  .site-footer-wrapper
  {
    width:90%;
    margin:0 auto;
  }
}